* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input, select{
    color:black;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    background: #606060;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

/** =======================
   * Contenedor Principal
   ===========================*/
.title {
    margin-top: 5px !important;
    background-color: #484848;
    width: 100%;
    height: 30px;
}

.btn {
    width: 100px;
}
.btn2 {
    width: 120px;
}

.row {
    padding: 0;
    margin: 0;
}

.col-md-10, .col-md-2, .col-md-6, .col-md-8 {
    padding-left: 0;
    padding-right: 0;
}

h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
}

h1 a {
        color: #c12c42;
        font-size: 16px;
}

.accordion {
    width: 100%;
    max-width: 360px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .accordion .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 42px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .accordion li:last-child .link {
        border-bottom: 0;
    }

    .accordion li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .accordion li i.fa-chevron-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

    .accordion li.open .link {
        color: #ee5720;
    }

    .accordion li.open i {
        color: #ee5720;
    }

        .accordion li.open i.fa-chevron-down {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
        }

/**
   * Submenu
   -----------------------------*/


.submenu {
    display: none;
    background: #606060;
    font-size: 14px;
}

    .submenu li {
        border-bottom: 1px solid #4b4a5e;
    }

    .submenu a {
        display: block;
        text-decoration: none;
        color: #d9d9d9;
        padding: 8px;
        padding-left: 45px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

        .submenu a:hover, .active {
            background: #ee5720;
            color: #FFF;
        }
    
/*******************************************/
th, td {
    padding: 5px;
    text-align: left;
}

.bg-dark {
    background-color: #595959 !important;
}

.navbar {
    height: 20px;
    padding: 20px;
    border-bottom: 5px solid #ee5720;
}

.navbar-dark .navbar-brand {
    padding-left: 85%;
}

.navbar-div {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
    width: 17%;
    background-color: #a5a5a5;
}

.button-group {
    position: absolute;
    top: 20%;
    left: 93%;
}

.button-group2 {
    position: absolute;
    bottom: 10%;
    left: 42%;
}

.button-group button {
    margin: 20px 0;
}

.button-group2 button {
    margin: 0;
}

.btn-upload {
    position: absolute;
    left: 42%;
    top: 10%;
}

#Side1 {
    position: absolute;
    background-color: #595959;
    width: 20%;
    height: 100%;
}

#Side2 {
    position: absolute;
    background-color: #595959;
    left: 20%;
    width: 20%;
    height: 100%;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding-left: 25px;
    padding-top: 20px;
}

.btns-group {
    display: inline;
    margin: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 40%;
    background-color: #737581;
    width: 60%;
    padding: 10px;
    color: white;
}

.dropdown-menu {
    min-width: 13.9rem;
    background-color: #212529;
}

.dropdown-item {
    color: white;
}

.list {
    list-style-type: none;
    margin-left: -20px;
    margin-right: 25px;
    margin-top: 20px;
}

    .list li {
        list-style-type: none;
    }

    .list h5 {
        background-color: #737581;
        color: white;
        padding: 5px;
    }

    .list h6 {
        background-color: #737581;
        color: white;
        padding: 5px;
    }

.table-group h6 {
    display: inline-block;
    width: 45%;
    height: 30px;
    background-color: #737581;
    padding-top: 5px;
    color: white;
    padding-left: 10px;
}

/********************mine**********/
.control-panal {
    border: 1px solid black;
    height: 100% !important;
}

.header-main-panal {
    font-size: 18px;
    height: 30px;
    text-align: center;
    line-height: 1.5;
}

.panel-heading, .panel-footer {
    padding-left: 20px;
    height: 30px;
    background: #303030;
}

.panel-footer {
    /*position:absolute;*/
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}



.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate--45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
/***************************************************************/
/*h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}*/


